<!DOCTYPE html>
<html ng-app="demo1App">
<head>
        <meta charset="UTF-8">
	<title>AngularJS Demo1</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/demo1.css">
	<script src="js/lib/angular.min.js"></script>
        <script src="js/controller.js"></script>
</head>
<body>
    <h1>Data Binding</h1>
	<!--<div ng-controller="demo1Controller">-->
	<div class="demo1">
            <label>Name: </label><input type="text" name="name" ng-model="author.name" />
            <label>Title: </label><input type="text" name="title" ng-model="author.title" />
            <label>Company: </label><input type="text" name="company" ng-model="author.company" />
            <h2>{{ author.name }}</h2>
            <p>{{ author.title + ', ' + author.company }}</p>
        </div>
</body>
</html>