@charset "UTF-8";
@import url(reset.css);
html {
	min-height:100%;
}

body {
	min-height:100%;
	font-family: Helvetica, Verdana, Arial, sans-serif;   
	background:#096ac8;
	color:#444;
	background-color: #1a82f7;
        background-image: -webkit-radial-gradient(center center, closest-corner ellipse, #f32030 0%, #840610 50%);
        background-image: -moz-radial-gradient(center center, closest-corner ellipse, #f32030 0%, #840610 50%);
        background-image: -ms-radial-gradient(center center, closest-corner ellipse, #f32030 0%, #840610 50%);
        background-image: -o-radial-gradient(center center, closest-corner ellipse, #f32030 0%, #840610 50%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#840610, endColorstr=#f32030);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#840610, endColorstr=#f32030)";
}
#container, header, footer{
	width: 50%;
	font-size:100%;
	margin: 20px auto;             
	border: 2px solid #f2f2f2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	background-color: #fff;
	padding:50px;
	-moz-box-shadow: 5px 5px 5px #222;
	-webkit-box-shadow: 5px 5px 5px #222;
	box-shadow:5px 5px 5px #222;
}
header{
	padding:10px;
}      
header 
{
  width:50%;
  height:auto;
  margin:0 auto;
  display:block;
}     
header h1{
	text-shadow:3px 3px 7px #0b93d5, 3px -3px 7px #0b93d5, -3px 3px 7px #0b93d5, -3px -3px 7px #0b93d5;
	font-size:150%;
	letter-spacing:0.25em;
	font-weight:bold;
	text-align:center;
}
header h2{
	margin-top:10px;
	text-align:center;
}	
/* ======= */
/* = nav = */
/* ======= */
#container{
  width:46%;
}
nav{
  width:200px;
  margin:0 auto;
}
nav ul{
  width:200px;
  margin:0 auto;
/*  margin-left:43%;*/
}
nav ul li{
  list-style-type:none;
  line-height:2;
}
img{
  max-width:100%;
  display:block;
  margin: 0 auto;
  padding:20px;
}
/*footer*/
footer{
	text-align:center;
}    
footer a{
  padding-bottom:4px;
  width:25%;
}               
footer p{
	margin-bottom:10px;
}
footer ul li{
	display:inline-block;
	margin-right:15px;
	padding-bottom:10px;
}
/*links*/
hr{
    width:110%;
}
a{
  width:200px;
  color:#444;
  text-align:center;
  display:block;
  margin:0 auto;
  text-decoration:none;
  /*border-bottom:1px dotted #444;*/
  padding:10px 0;
  opacity:0.85;
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}
#container a.first-child{
  /*border-top:1px dotted #444;*/
}
a:hover, a:focus{
  opacity:1;
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  transform:scale(1.2);
}
audio{
  width:290px;
  margin:0 auto;
  display: block;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  body{
    font-size:150%;
  }
}
