<!DOCTYPE html>
<html ng-app="demo1App">
<head>
        <meta charset="UTF-8">
	<title>AngularJS Demo1a</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/demo1.css">
	<script src="js/lib/angular.min.js"></script>
        <script src="js/controller.js"></script>
</head>
<body>
    <h1>Data Binding/Sharing Data Between Services</h1>
	<div class="demo1" ng-controller="demo1FirstController">
            <h2>{{ data.message }}</h2>
        </div>
	<div class="demo1" ng-controller="demo1SecondController">
            <h2>{{ data.message }}</h2>
            <!--<h2>{{ reversedMessage(data.message) }}</h2>-->
            <!--<h2>{{ data.message|reverse }}</h2>-->
        </div>
</body>
</html>