<!DOCTYPE html>
<html ng-app="demo2App">
<head>
        <meta charset="UTF-8">
	<title>AngularJS Demo 2</title>
        <link rel="stylesheet" href="css/style.css"/>
	<script src="js/lib/angular.min.js"></script>
        <script src="js/controller.js"></script>
</head>
<body>
	<div class="main" ng-controller="demo2Controller">
            <ul class="artistlist">
                <li class="artist cf" ng-repeat="item in artists">
                    <img ng-src="images/{{item.shortname}}_tn.jpg" />
                    <div class="info">
                        <h2>{{item.name}}</h2>
                        <h3>{{item.reknown}}</h3>
                    </div>
            </ul>
        </div>
</body>
</html>