@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

html{
  background-color: #023E54; 
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#023E54), to(#10AAC0));
  background-image: -webkit-linear-gradient(top, #023E54, #10AAC0); 
  background-image: -moz-linear-gradient(top, #023E54, #10AAC0);
  background-image: -o-linear-gradient(top, #023E54, #10AAC0);
  min-height: 100%;
  height: auto;
}
body{
    background:transparent;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color:#222;
  text-shadow: 1px 1px rgb(255,255,255, 1);
  text-align:center;
  margin-bottom:25px;
}
h1{
    color:#f2f2f2;
}
div.demo1 {
  background: #EEE8D5;
  width: 50%;
  min-width: 670px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: .95;
  z-index: 10;
  padding:25px;
  color:#333;
}
div.demo1 p{
    text-align:center;
    font-weight:bold;
    font-size:200%;
}