<!DOCTYPE html>
<html ng-app="demo2App">
<head>
        <meta charset="UTF-8">
	<title>AngularJS Demo 3</title>
        <link rel="stylesheet" href="css/style.css"/>
	<script src="js/lib/angular.min.js"></script>
        <script src="js/controller.js"></script>
</head>
<body>
	<div class="main" ng-controller="demo2Controller">
            <div class="search">
                <h1>Artist Directory</h1>
                <label>search:</label>
                <input ng-model="query" placeholder="Search for artists" autofocus />
                <label class="formgroup">by:
                    <select ng-model="artistOrder">
                        <option value="name">Name</option>
                        <option value="reknown">Reknown</option>
                    </select>
                </label>
                <label class="formgroup">ascending
                    <input type="radio" ng-model="direction" name="direction" checked />
                </label>
                <label class="formgroup">descending
                    <input type="radio" ng-model="direction" name="direction" value="reverse" />
                </label>
            </div>
            <ul class="artistlist">
                <li class="artist cf" ng-repeat="item in artists | filter: query | orderBy:artistOrder:direction">
                    <img ng-src="images/{{item.shortname}}_tn.jpg" />
                    <div class="info">
                        <h2>{{item.name}}</h2>
                        <h3>{{item.reknown}}</h3>
                    </div>
            </ul>
        </div>
</body>
</html>